body {
    margin: 0;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: flex;
    flex-direction: row;
    color: rgb(161, 158, 158);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
}

li a:hover {
    background-color: #111;
}

.coinFlagImg {
    height: 90px;
    width: 150px;
    border-radius: 100%;
    position: sticky;
    z-index: 0;
}

#allCards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cardContents {
    display: flex;
    flex-direction: row;
}

.coinCard {
    background-color: antiquewhite;
    border: 1px solid grey;
    margin: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

td {
    border: 1px solid grey;
    text-align: center;
}

th {
    border: 1px solid grey;
    text-align: center;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.5s;
    opacity: 0.5;
}

#myBtn:hover {
    background-color: #555;
    opacity: 1;

}